<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Company View</h1>

  <!-- Section 1 -->
  <h2>Company Header Information</h2>
  
  <!-- 
    Copy from other view

   -->
  <!-- Section 2 -->
  <h2>Contact Table</h2>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Notes</th>
        <th scope="col">Thank You</th>
        <th scope="col">Coffee Chat</th>
        <th scope="col">Coffee Chat Date</th>
        <th scope="col">Status</th>
        <th scope="col">Links</th>
      </tr>
    </thead>
    <tbody id="contactsTable">
    </tbody>
  </table>

  <script src="js/companyView.js"></script>
</body>
</html>