<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <h1>Create Your VERY OWN Hitlist!</h1>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
</body>
</html>